<!-- templates/fragments/navbar.html -->
<th:block th:fragment="navbar">
    <nav class="navbar">
        <ul>
            <li><a th:href="@{/empleados/registro-datos}"><img th:src="@{/img/1.png}" alt="Datos Personales"></a></li>
            <li><a th:href="@{/empleados/registro-direccion}"><img th:src="@{/img/2.png}" alt="Datos Profesionales"></a></li>
            <li><a th:href="@{/empleados/registro-financiero}"><img th:src="@{/img/3.png}" alt="Datos Bancarios"></a></li>
            <li><a th:href="@{/empleados/registro-finales}"><img th:src="@{/img/4.png}" alt="Resumen"></a></li>
        </ul>
    </nav>
</th:block>