<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Dirección</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}" id="estilosCss">
</head>
<body>
    <!--  Desactiva los estilos-->
    <label>
        <input type="checkbox" id="quitaEstilos" onchange="alternarEstilos()"> Quitar estilos
    </label>
    <!--NavBar-->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <h2 th:text="#{Titulo.datosDepartamento}"/>

    <form th:action="@{/empleados/registro-departamento}" th:object="${empleadoRegistroDTO}" method="post" id="formulario" >

        <!-- Mostrar errores globales y validadciones que afectan a dos campos-->
        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="error" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
        </div>

        <div>
            <span style="color:red">&#8226;</span> <label for="departamento" th:text="#{Datos-departamento.nombreDept}"></label>
            <select th:field="*{departamentoDTO.id}" id="departamento">
                <option th:each="d : ${departamentos}"
                        th:value="${d.id}"
                        th:text="${d.nombreDept}">
                </option>
            </select>
            <div th:if="${#fields.hasErrors('departamentoDTO')}" th:errors="*{departamentoDTO}" class="error"></div>
        </div>
        <br><br>

        <!-- Sección de Especialidades -->
        <span style="color:red">&#8226;</span> <label>Especialidades:</label><br>
        <div th:each="e, iterStat : *{especialidadesSeleccionadasDTO}">
            <input type="checkbox"
                   th:field="*{especialidadesSeleccionadasDTO[__${iterStat.index}__].seleccionada}"
                   th:value="${e.id}"
                   th:id="'esp-' + ${e.id}"/>
            <label th:for="'esp-' + ${e.id}" th:text="${e.nombreEspecialidad}"></label>
        </div>
        <span th:if="${#fields.hasErrors('especialidadesSeleccionadasDTO')}" th:errors="*{especialidadesSeleccionadasDTO}" style="color:red"></span>

        <br><br>
        <input type="button" th:value="#{Boton.selecciona.especialidad}" onclick="seleccionaTodosCheckboxes()" class="boton">
        <input type="button" th:value="#{Boton.deselecciona.especialidad}" onclick="deseleccionaTodosCheckboxes()" class="boton">

        <br><br>
        <input type="button"
               th:value="#{Boton.resetear}"
               onclick="resetFormulario()">
        <br><br>

        <input type="button"
               th:value="#{Boton.vaciar}"
               onclick="vaciarFormulario()">
        <br><br>

        <input type="submit"
               th:value="#{Boton.siguiente}">
    </form>
    <script th:src="@{/js/script.js}"></script>
</body>
</html>