<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resumen</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}" id="estilosCss">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>



<div th:if="${exito}">
    <p style="color: green;" th:text="${exito}"/>
</div>
<div th:if="${error != null}">
    <p style="color: red;" th:text="${error}"></p>

</div>
<label>
    <input type="checkbox" id="quitaEstilos" onchange="alternarEstilos()"> Quitar estilos
</label>

<h2>Resumen de los Datos del Empleado</h2>
<div class="contenedor-principal">

    <div class="fotografia">
        <img th:if="${fotoBase64 != null}" th:src="${fotoBase64}"
             style="width:150px;height:150px;object-fit:cover;" alt="Foto del empleado"/>
    </div>

        <!--NavBar-->
        <div th:replace="~{fragments/navbar :: navbar}"></div>
    <form th:action="@{/empleados/registro-finales}" th:object="${empleadoRegistroDTO}" method="post"
          enctype="multipart/form-data"
          onsubmit="return confirmarAccionFormularioRegistroEmpleado(this, '¿Estás seguro de que deseas registrar este nuevo empleado?');">
        <h2>Empleado</h2>
        <p><strong>Nombre:</strong> <span th:text="*{nombreDTO}"></span></p>
        <p><strong>Apellidos:</strong> <span th:text="*{apellidosDTO}"></span></p>
        <p><strong>Género:</strong> <span th:text="*{generoSeleccionadoDTO.codigoGenero}"></span></p>

        <p><strong>Fecha de nacimiento:</strong> <span th:text="${#temporals.format(datos.fechaNacimientoDTO, 'dd/MM/yyyy')}"></span></p>
        <p><strong>Edad:</strong> <span th:text="*{edadDTO}"></span></p>
        <p><strong>País de nacimiento:</strong> <span th:text="*{paisNacimiento.codigoPaisDTO}"></span></p>
        <p><strong>Comentarios:</strong> <span th:text="*{comentarios}"></span></p>

        <h2>Documentos Personales</h2>
        <p><strong>Tipo de documento:</strong> <span th:text="*{tipoDocumentoDTO.tipoDocumento}"></span></p>
        <p><strong>Número de documento:</strong> <span th:text="*{numeroDocumentoDTO}"></span></p>
        <p><strong>Teléfono móvil:</strong> <span th:text="*{prefijoTelefono} + ' ' + *{telefonoMovil}"></span></p>

        <h2>Dirección</h2>
        <p><strong>Tipo de vía:</strong> <span th:text="*{direccionDTO.tipoViaDireccionPpalDTO.tipoVia}"></span></p>
        <p><strong>Nombre de vía:</strong> <span th:text="*{direccionDTO.nombreViaDireccionPpalDTO}"></span></p>
        <p><strong>Número de vía:</strong> <span th:text="*{direccionDTO.numeroViaDireccionPpalDTO}"></span></p>
        <p><strong>Portal:</strong> <span th:text="*{direccionDTO.portalDireccionPpalDTO}"></span></p>
        <p><strong>Planta:</strong> <span th:text="*{direccionDTO.plantaDireccionPpalDTO}"></span></p>
        <p><strong>Puerta:</strong> <span th:text="*{direccionDTO.puertaDireccionPpalDTO}"></span></p>
        <p><strong>Localidad:</strong> <span th:text="*{direccionDTO.localidadDireccionPpalDTO}"></span></p>
        <p><strong>Código postal:</strong> <span th:text="*{direccionDTO.codigoPostalDireccionPpalDTO}"></span></p>
        <p><strong>Región:</strong> <span th:text="*{direccionDTO.regionDireccionPpalDTO}"></span></p>

        <h2>Departamentos y Especialidades</h2>
        <p><strong>Departamento:</strong> <span th:text="*{departamentoDTO.id}"></span></p>

        <p><strong>Especialidades seleccionadas:</strong></p>
        <div th:each="e : *{especialidadesSeleccionadasDTO}">
            <div th:if="${e.seleccionada}" th:text="${e.nombreEspecialidad}"></div>
        </div>

        <h2>Datos Financieros</h2>
        <p><strong>Banco:</strong> <span th:text="*{cuentaCorrienteDTO.entidadBancaria.nombreEntidadDTO}"></span></p>
        <p><strong>Cuenta Corriente:</strong> <span th:text="*{cuentaCorrienteDTO.numeroCuentaDTO}"></span></p>
        <p><strong>Salario:</strong> <span th:text="*{salarioDTO}"></span></p>
        <p><strong>Comisión:</strong> <span th:text="*{comisionDTO}"></span></p>

        <h2>Tarjeta de Crédito</h2>
        <p><strong>Tipo de tarjeta:</strong> <span th:text="*{tarjetasCreditoDTO.tipoTarjetaCreditoDTO.nombreTipoTarjetaDTO}"></span></p>
        <p><strong>Número de tarjeta:</strong> <span th:text="*{tarjetasCreditoDTO.numeroTarjetaCreditoDTO}"></span></p>
        <p>
            <strong>Caducidad de la tarjeta:</strong>
            <span th:text="'Mes: ' + *{tarjetasCreditoDTO.mesCaducidadTarjetaCreditoDTO} + ' Año: ' + *{tarjetasCreditoDTO.anioCaducidadTarjetaCreditoDTO}"></span>
        </p>
        <p><strong>CVC:</strong> <span th:text="*{tarjetasCreditoDTO.cvcDTO}"></span></p>


        <hr>

        <span style="color:red">&#8226;</span> <label for="aceptaInformacionDTO"
                                                      th:text="#{Validacion.Consentimiento.true}"></label>
        <input type="checkbox"
               th:field="*{aceptaInformacionDTO}"
               id="aceptaInformacionDTO">
        <div th:if="${#fields.hasErrors('aceptaInformacionDTO')}"
             th:errors="*{aceptaInformacionDTO}" class="error"></div>


        <hr>

        <div class="btn-form">
            <a class="boton secundario" th:href="@{/usuarios/logout}">logout</a>

            <input class="boton principal"
                    type="submit"
                    th:value="#{Boton.guardar}">
        </div>

    </form>
</div>
<!--<a th:href="@{/empleados/logout}" class="btn">Volver al inicio</a>-->
<!-- Script que muestra el alert si mostrarAlerta es true -->
<script th:if="${mensaje}">
    alert("Empleado guardado correctamente");
</script>

<script th:if="${error}">
    alert("Empleado no guardado correctamente");
</script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>