<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Datos Empleado</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

<!--NavBar-->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<h2>Formulario de Registro de Datos Financieros del Empleado</h2>

<!-- Se muestra un mensaje de éxito si lo hay -->
<div th:if="${param.success}">
    <p style="color: green;">¡Registro exitoso!</p>
</div>

<!-- Se muestra un mensaje de error si lo hay -->
<div th:if="${error != null}">
    <p style="color: red;" th:text="${error}"></p>
</div>

<form th:action="@{/empleados/registro-financiero}" th:object="${empleadoRegistroDTO}" method="post" id="formulario" enctype="multipart/form-data">
    <label for="banco">Banco:</label>
    <input type="text" id="banco" th:field="*{cuentaCorriente.banco}"  />
    <div th:if="${#fields.hasErrors('cuentaCorriente.banco')}" th:errors="*{cuentaCorriente.banco}" class="error"></div>
    <br><br>

    <label for="cuentaCorriente">Cuenta Corriente:</label>
    <input type="text" id="cuentaCorriente" th:field="*{cuentaCorriente.cuentaCorriente}"  />
    <div th:if="${#fields.hasErrors('cuentaCorriente.cuentaCorriente')}" th:errors="*{cuentaCorriente.cuentaCorriente}" class="error"></div>
    <br><br>

    <label for="archivoAdjunto">Adjuntar documento:</label>
    <input type="file" id="archivoAdjunto" name="archivoAdjunto" />
    <br><br>

    <input type="button"
           th:value="#{Boton.vaciar}"
           onclick="vaciarFormulario()">
    <br><br>

<!--    <button type="submit">Siguiente</button>-->
    <input type="submit"
           th:value="#{Boton.siguiente}">
</form>


<script th:src="@{/js/script.js}"></script>

</body>
</html>