<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Datos Empleado</title>
  <meta charset="UTF-8">
</head>
<body>

<h2>Formulario de Registro de Empleado</h2>
<!-- Se muestra un mensaje de éxito si lo hay -->
<div th:if="${param.success}">
  <p style="color: green;">¡Registro exitoso!</p>
</div>

<!-- Se muestra un mensaje de error si lo hay -->
<div th:if="${error != null}">
  <p style="color: red;" th:text="${error}"></p>
</div>

<form th:action="@{/empleados/registro-datos}" th:object="${empleadoRegistroDTO}" method="post">
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" th:field="*{nombre}"  />
  <ul>
    <li th:each="err : ${#fields.errors('nombre')}" th:text="${err}" class="error"></li>
  </ul>
  <br><br>

  <label for="apellido">Apellido:</label>
  <input type="text" id="apellido" th:field="*{apellido}"  />
  <ul>
    <li th:each="err : ${#fields.errors('apellido')}" th:text="${err}" class="error"></li>
  </ul>
  <br><br>

  <label for="fechaNacimiento">Fecha de Nacimiento:</label>
  <input type="text" id="fechaNacimiento" th:field="*{fechaNacimiento}"  />
  <ul>
    <li th:each="err : ${#fields.errors('fechaNacimiento')}" th:text="${err}" class="error"></li>
  </ul>
  <br><br>

  <label for="email">Email:</label>
  <input type="text" id="email" th:field="*{email}"  />
  <ul>
    <li th:each="err : ${#fields.errors('email')}" th:text="${err}" class="error"></li>
  </ul>
  <br><br>

  <button type="submit">Enviar</button>
</form>

</body>
</html>
