<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resumen</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
</head>
<body>

<!--NavBar-->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<h2>Resumen de los Datos del Empleado</h2>
<div th:if="${error != null}">
    <p style="color: red;" th:text="${error}"></p>
</div>

<form th:action="@{/empleados/registro-finales}" method="post"
      onsubmit="return confirmarAccionFormulario(this, '¿Estás seguro de que deseas registrar este nuevo empleado?');">


    <h2>Empleado</h2>
    <p th:text="'Nombre: ' + *{nombre}"></p>
    <p th:text="'Apellidos: ' + *{apellidos}"></p>
    <p th:text="'Género: ' + *{genero}"></p>
    <p th:text="'Fecha de nacimiento: ' + *{fechaNacimiento}"></p>

    <h2>Dirección</h2>
    <p th:text="'Tipo de vía: ' + *{direccion.tipoVia}"></p>
    <p th:text="'Nombre de vía: ' + *{direccion.via}"></p>
    <p th:text="'Número de vía: ' + *{direccion.numero}"></p>
    <p th:text="'Planta: ' + *{direccion.piso}"></p>
    <p th:text="'Puerta: ' + *{direccion.puerta}"></p>
    <p th:text="'Localidad: ' + *{direccion.localidad}"></p>
    <p th:text="'Código postal: ' + *{direccion.codigoPostal}"></p>
    <p th:text="'Región: ' + *{direccion.region}"></p>
    <p th:text="'País: ' + *{direccion.pais}"></p>

    <h2>Datos Financieros</h2>

    <p>Banco: <span th:text="${datos.cuentaCorriente.banco}"></span></p>
    <p>Cuenta Corriente: <span th:text="${datos.cuentaCorriente.cuentaCorriente}"></span></p>
    <p>Arhchivo: <span th:text="${datos.archivoNombreOriginal}"></span></p>

    <br>

    <div>
        <input type="submit" th:value="#{Boton.guardar}">
    </div>

</form>
<!--<a th:href="@{/empleados/logout}" class="btn">Volver al inicio</a>-->

<script th:src="@{/js/script.js}"></script>

</body>
</html>