<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Dirección</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>

<!--NavBar-->
<div th:replace="~{fragments/navbar :: navbar}"></div>

<h1>Formulario de Dirección</h1>
<!--Error del Servidor se muestran aquí cuando no salen en Logs-->
<th:block th:text="${error}"/>

<form th:action="@{/empleados/registro-direccion}" th:object="${empleadoRegistroDTO}" method="post" id="formulario">

    <label for="tipoVia">Tipo de vía:</label>
    <input type="text" id="tipoVia" th:field="*{direccionDTO.tipoViaDireccionPpalDTO}"/>
    <div th:if="${#fields.hasErrors('direccionDTO.tipoViaDireccionPpalDTO')}"
         th:errors="*{direccionDTO.tipoViaDireccionPpalDTO}" class="error"></div>
    <br><br>

    <label for="via">Vía:</label>
    <input type="text" id="via" th:field="*{direccionDTO.nombreViaDireccionPpalDTO}"/>
    <div th:if="${#fields.hasErrors('direccionDTO.nombreViaDireccionPpalDTO')}"
         th:errors="*{direccionDTO.nombreViaDireccionPpalDTO}" class="error"></div>
    <br><br>

    <label for="numero">Número:</label>
    <input type="number" id="numero" th:field="*{direccionDTO.numeroViaDireccionPpalDTO}"/>
    <div th:if="${#fields.hasErrors('direccionDTO.numeroViaDireccionPpalDTO')}"
         th:errors="*{direccionDTO.numeroViaDireccionPpalDTO}" class="error"></div>
    <br><br>

    <label for="piso">Piso:</label>
    <input type="number" id="piso" th:field="*{direccionDTO.plantaDireccionPpalDTO}"/>
    <div th:if="${#fields.hasErrors('direccionDTO.plantaDireccionPpalDTO')}"
         th:errors="*{direccionDTO.plantaDireccionPpalDTO}" class="error"></div>
    <br><br>

    <label for="puerta">Puerta:</label>
    <input type="text" id="puerta" th:field="*{direccionDTO.puertaDireccionPpalDTO}"/>
    <div th:if="${#fields.hasErrors('direccionDTO.puertaDireccionPpalDTO')}"
         th:errors="*{direccionDTO.puertaDireccionPpalDTO}" class="error"></div>
    <br><br>

    <label for="localidad">Localidad:</label>
    <input type="text" id="localidad" th:field="*{direccionDTO.localidadDireccionPpalDTO}"/>
    <div th:if="${#fields.hasErrors('direccionDTO.localidadDireccionPpalDTO')}"
         th:errors="*{direccionDTO.localidadDireccionPpalDTO}" class="error"></div>
    <br><br>

    <label for="codigoPostal">Código Postal:</label>
    <input type="text" id="codigoPostal" th:field="*{direccionDTO.codigoPostalDireccionPpalDTO}"/>
    <div th:if="${#fields.hasErrors('direccionDTO.codigoPostalDireccionPpalDTO')}"
         th:errors="*{direccionDTO.codigoPostalDireccionPpalDTO}" class="error"></div>
    <br><br>

    <label for="region">Región:</label>
    <input type="text" id="region" th:field="*{direccionDTO.regionDireccionPpalDTO}"/>
    <div th:if="${#fields.hasErrors('direccionDTO.regionDireccionPpalDTO')}"
         th:errors="*{direccionDTO.regionDireccionPpalDTO}" class="error"></div>
    <br><br>

    <label for="pais">País:</label>
    <input type="text" id="pais" th:field="*{direccionDTO.paisDireccionPpalDTO}"/>
    <!-- <div th:if="${#fields.hasErrors('direccionDTO.paisDireccionPpalDTO')}" th:errors="*{direccionDTO.paisDireccionPpalDTO}" class="error"></div>
    -->

    <div>
        <select>

            <!-- <label th:for="${'pais_' + pais.codigoPais}" th:text="${pais.nombrePais}"><br>
            -->
            <!--  Muestra el nombre del género  </label> -->
            <option
                    th:each="pais : ${listaPaises}"
                    th:field="*{direccionDTO.paisDireccionPpalDTO}"
                    th:value="${pais.codigoPais}"
                    th:id="${'genero_' + pais.codigoPais}"></option>
        </select>
    </div>
    <div th:if="${#fields.hasErrors('direccionDTO.paisDireccionPpalDTO')}"
         th:errors="*{direccionDTO.paisDireccionPpalDTO}" class="error"></div>
    <br><br>

    <input type="button"
           th:value="#{Boton.vaciar}"
           onclick="vaciarFormulario()">
    <br><br>

    <!--    <button type="submit">Siguiente</button>-->
    <input type="submit"
           th:value="#{Boton.siguiente}">
</form>


<script th:src="@{/js/script.js}"></script>

</body>
</html>
