<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro de Usuario</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
</head>
<body>
<h1>Registro de Usuario</h1>

<!-- Se muestra un mensaje de éxito si lo hay -->
<div th:if="${param.success}">
    <p style="color: green;">¡Registro exitoso!</p>
</div>

<!-- Se muestra un mensaje de error si lo hay -->
<div th:if="${error != null}">
    <p style="color: red;" th:text="${error}"></p>
</div>

<div id="passwordError" style="color: red; display: none;">
    Las contraseñas no coinciden.
</div>

<!-- El formulario usa el objeto 'usuarioRegistroDTO' para hacer binding de sus campos -->
<form th:action="@{/usuarios/registro}" th:object="${usuarioRegistroDTO}" method="post"
      onsubmit="if(!validarRegistro()) { return false; } return confirmarAccionFormulario(this, '¿Estás seguro de que deseas registrar este nuevo usuario?');">
    <div>
        <label for="email">Email</label>
        <input type="email" th:field="*{email}" id="email" placeholder="tuemail@dominio.com" />
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
    </div>
    <div>
        <label for="contrasena">Contraseña</label>
        <input type="password" th:field="*{contrasena}" id="contrasena" />
        <div th:if="${#fields.hasErrors('contrasena')}" th:errors="*{contrasena}" class="error"></div>
    </div>
    <div>
        <label for="confirmarContrasena">Confirmar Contraseña</label>
        <input type="password" id="confirmarContrasena" name="confirmarContrasena" required/>
    </div>
    <div>
        <button type="submit">Registrarse</button>
        <button><a th:href="@{/usuarios/inicio-sesion}" style="color: black; text-decoration: none">Iniciar Sesión</a></button>
    </div>
</form>
</body>
<script th:src="@{/js/script.js}"></script>
</html>
