<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Editar Usuario</title>
    <link rel="stylesheet" th:href="@{/css/estilos.css}" id="estilosCss">
</head>
<body>
<h2>Editar Usuario</h2>
<div class="contenedor-principal">
    <form th:action="@{/administrador/editar-usuario}" th:object="${usuario}" method="post">
        <!-- Campo oculto para el ID del usuario -->
        <input type="hidden" th:field="*{id}"/>

        <!-- Campo para el email -->
        <div>
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" th:field="*{email}" required/>
        </div>

        <!-- Campo para la nueva contraseña (opcional) -->
        <div>
            <label for="nuevaContrasena">Nueva Contraseña:</label>
            <input type="password" id="nuevaContrasena" name="nuevaContrasena"/>
        </div>

        <!-- Campo para confirmar la nueva contraseña (opcional) -->
        <div>
            <label for="confirmarContrasena">Confirmar Contraseña:</label>
            <input type="password" id="confirmarContrasena" name="confirmarContrasena"/>
        </div>

        <!-- Campo para el estado de la cuenta (bloqueada o no) -->
        <div>
            <label for="cuentaBloqueada">Estado de la cuenta:</label>
            <input type="checkbox" id="cuentaBloqueada" th:field="*{cuentaBloqueada}"/>
            <label for="cuentaBloqueada" style="font-weight: normal;">Bloqueada</label>
        </div>

        <div class="btn-form">
            <!-- Enlace para volver al dashboard -->
            <a th:href="@{/administrador/dashboardGestionUsuarios}" class="boton secundario">Volver al Dashboard</a>
            <!-- Botón para guardar cambios -->
            <button type="submit" class="boton principal">Guardar Cambios</button>
        </div>
    </form>

</div>
</body>
</html>
