<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Añadir Línea de Nómina</title>
    <script> function toggleFields() {
        var porcentaje = document.getElementById('porcentaje');
        var cantidad = document.getElementById('cantidad');

        if (porcentaje.value !== '') {
            cantidad.disabled = true;
            cantidad.value = '';
        } else {
            cantidad.disabled = false;
        }

        if (cantidad.value !== '') {
            porcentaje.disabled = true;
            porcentaje.value = '';
        } else {
            porcentaje.disabled = false;
        }
    }
    </script>

</head>
<body><h1>Añadir Línea de Nómina</h1>
<form th:action="@{/administrador/nominas/nomina/{id}/aniadir-linea(id=${nomina.id})}" method="post"><label
        for="concepto">Concepto:</label> <input type="text" id="concepto" name="concepto" required> <br>

    <label for="porcentaje">Porcentaje:</label>
    <input type="number" step="0.01" id="porcentaje" name="porcentaje"
           oninput="toggleFields()">
    <br>

    <label for="cantidad">Cantidad:</label>
    <input type="number" step="0.01" id="cantidad" name="cantidad"
           oninput="toggleFields()">
    <br>

    <button type="submit">Añadir Línea</button>

</form>
<div th:if="${error}" style="color:red;" th:text="${error}"></div>
</body>
</html>